In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt 


from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.tree import DecisionTreeClassifier

from sklearn.compose import ColumnTransformer

In [2]:
df = pd.read_csv('Titanic.csv',usecols=['Age','Fare','SibSp','Parch','Survived'])

In [3]:
df.dropna(inplace=True)

In [4]:
df.head()

   Survived   Age  SibSp  Parch     Fare
0         0  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         1  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         0  35.0      0      0   8.0500

In [5]:
df['family'] = df['SibSp'] + df['Parch']

In [6]:
df.head()

   Survived   Age  SibSp  Parch     Fare  family
0         0  22.0      1      0   7.2500       1
1         1  38.0      1      0  71.2833       1
2         1  26.0      0      0   7.9250       0
3         1  35.0      1      0  53.1000       1
4         0  35.0      0      0   8.0500       0

In [8]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [9]:
df.head()

   Survived   Age     Fare  family
0         0  22.0   7.2500       1
1         1  38.0  71.2833       1
2         1  26.0   7.9250       0
3         1  35.0  53.1000       1
4         0  35.0   8.0500       0

In [10]:
x= df.iloc[:,1:]
y= df.iloc[:,0]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [12]:
clf = DecisionTreeClassifier()

clf.fit(X_train,y_train)
ypred = clf.predict(X_test)
accuracy_score(ypred,y_test)

0.6713286713286714

In [13]:
np.mean(cross_val_score(clf,x,y,cv=10,scoring='accuracy'))

0.6457355242566509

In [14]:
from sklearn.preprocessing import Binarizer

In [15]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [17]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [20]:
pd.DataFrame(X_train_trf,columns=['family','age','fare'])

     family   age     fare
0       1.0  15.0  14.4542
1       1.0  24.0  24.1500
2       1.0  36.5  26.0000
3       0.0  28.0   7.8958
4       0.0  22.0   7.7500
..      ...   ...      ...
566     0.0  36.0   0.0000
567     0.0  39.0  13.0000
568     1.0  26.0  20.5750
569     1.0  19.0  91.0792
570     0.0  21.0   7.8000

[571 rows x 3 columns]

In [21]:
clf1 = DecisionTreeClassifier()

clf1.fit(X_train_trf,y_train)
ypred1 = clf.predict(X_test_trf)
accuracy_score(ypred1,y_test)

/Users/tajbirhasanshuvo/micromamba/envs/tf-m1/lib/python3.10/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

0.5454545454545454

In [22]:
x_trf = trf.fit_transform(x)
np.mean(cross_val_score(clf,x_trf,y,cv=10,scoring='accuracy'))

0.6289906103286385